/**/
*{
    padding: 0px;
    margin:0px;
    font-family: "微软雅黑";
}
body{
    background: #eee;
}
img{
    border:none;
}
a{
    color: #666;
}
a:hover{
    color: #666;
    text-decoration: none;
}
.header-nav{
    height: 35px;
    background: #fff;
}
.header{
    height: 70px;
    position: relative;
    border-bottom: #eee 1px solid;
}
.website-name{
    position: absolute;
    height: 30px;
    line-height: 30px;
    left: 75px;
    top: -15px;
    font-size: 18px;
    color: #666;
}
.logo{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 8px;
    border: none;
    float: left;
}
.chat{
    display: inline-block;
    width: 40px;
    height: 27px;
    border: none;
    position: absolute;
    top: 35px;
    left: 65px;
}
.go-back,.add-new{
    display: block;
    width: 60px;
    height: 35px;
    background: url(../images/back.png) left center no-repeat;
    float: left;
}
.add-new{
    background: url(../images/add.png) right center no-repeat;
    float: right;
}
.header-title{
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-indent: 30px;
    color: #666;
    float: left;
}
label{
    font-weight: normal;
}
.tj{
    font-size: 12px;
    color: #666;
    display: block;
    width: auto;
    height: 27px;
    line-height: 27px;
    position: absolute;
    top: 35px;
    left: 100px;
    overflow: hidden;
}
.action{
    display: inline-block;
    width: 90px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    top: -5px;
    right: 15px;
}
.action img{
    display: block;
    width: 90px;
    height: 60px;
    border: none;
    float: left;
}
.hot-title{
    height: 35px;
}
.hot-title img{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}
.hot-title label{
    line-height: 38px;
    font-weight: bold;
    color: #b75607;
}
.hot-clude{
    display: block;
    height:95px;

}
.hot-c4{
    display: block;
    height: 75px;
    width: 20%;
    margin-right:12px ;
    float: left;
}
.hot-c4 img{
    display: block;
    width:60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float: left;
}
.hot-c4 label{
    font-size: 10px;
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #b75607;
    float: left;
}
.content{
    width: 94%;
    box-shadow: 1px 1px 3px rgba(208,208,208,0.5);
    -webkit-box-shadow: 1px 1px 3px rgba(208,208,208,0.5);
    -moz-box-shadow: 1px 1px 3px rgba(208,208,208,0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    margin-top: 15px;
    clear: both;
    padding: 15px 15px 0px 15px;
}
.content-d{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-top: #eee 1px solid;
    float: left;
}
.content-user{
    height: 34px;
    position: relative;
}
.user-pic{
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 34px;
    top:0px;
    left: 0px;
}

.infos{
    display: block;
    position: absolute;
    display: inline-block;
    height: 34px;
    top:0px;
    left: 50px;
}
.infos label{
    color: #666;
    display: block;
    width: 100%;
    height: 17px;
    line-height: 17px;
    float: left;
}
.infos label img{
    /*width: 16px;*/
    /*height: 16px;*/
    margin-left: 10px;
}
.content-content{
    padding: 0px;
    margin:0px;
}
.hot-best-top{
    display: block;
    width: 60px;
    height: 36px;
    position: absolute;
    top: 0px;
    right: 10px;
}
.action-list{
    height: 25px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.action-list label{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-right: 5px;
}
.action-list label a{
    color: #9c9c9c;
    display: inline-block;
    min-width: 24px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
    float: left;
}
.action-list label a:hover{
    text-decoration: none;
}
.zan{
    text-indent: 32px;
    background: url(../images/zan.png) left center no-repeat;
}
.share{
    background: url(../images/shareto.png) left center no-repeat;
}
.comment{
    text-indent: 32px;
    background: url(../images/comment.png) left center no-repeat;
}
.content-comment{
    width: 100%;
}
.content-comment h2{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-bottom: #eee 1px solid;
    color: #666;
}
.content-comment h2 b{
    display: block;
    width: auto;
    height: 35px;
    float: left;
    border-bottom: #42ab35 1px solid;
}

.the-comment{
    display: block;
    width: 100%;
    height: auto;
    min-height: 35px;
    float: left;
}
.no-comment{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
    float: left;
}
.the-left{
    display: block;
    width: 12%;
    min-height: 30px;
    float: left;
}
.user-pic2{
    display:inline-block;
    width: 26px;
    height: 26px;
    float: left;
}
.the-right{
    font-size: 12px;
    color: #666;
    display: block;
    width: 88%;
    min-height: 20px;
    float: left;
}
.c-action{
    display: block;
    width: 100%;
    height: 20px;
    float: left;
}
.c-action label{
    display: block;
    width: 120px;
    height: 20px;
    float: right;
}
.c-action label a{
    cursor: pointer;
    font-size: 12px;
    color: #666;
    display: block;
    width: 55px;
    height: 30px;
    float: left;
}
.c-action label a:hover{
    text-decoration: none;
}
.comment-in-comment{
    color: #666;
    font-size: 11px;
    position: relative;
    display: block;
    width: 88%;
    min-height: 30px;
    background: #eee;
    padding: 10px;
    float: right;
}
.san{
    display: block;
    position: absolute;
    width:0px;
    height:0px;
    border-left:8px solid transparent;  /* left arrow slant */
    border-right:5px solid transparent; /* right arrow slant */
    border-bottom:10px solid #eee; /* bottom, add background color here */
    font-size:0px;
    line-height:0px;
    top: -10px;
    right: 55px;
}
.rep{
    display: block;
    width: 100%;
}
.user-pic1{
    position: absolute;
    display:inline-block;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 15px;
}
.content-cont{
    position: absolute;
    display: inline-block;
    width: 90%;
    height: auto;
    left: 50px;
    top: 0px;
}

.banner{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0px;
    background: #fff;
    border-top:#eee 1px solid;
}
.banner span{
    display: block;
    height: 35px;
    margin-top: 5px;
    float: left;
}
.banner span a:hover{
    text-decoration: none;
}
.banner-left,.banner-right{
    width: 15%;
    border-right:#eee 1px solid;
}
.banner-left a,.banner-right a{
    font-size: 20px;
    font-weight: bold;
    color: #42ab35;
    text-align: center;
    display: block;
    width: 100%;
    height: 35px;
    line-height:  35px;
    float: left;
}
.banner-right{
    width: 15%;
    border-left:#eee 1px solid;
    border-right:none;
}
.banner-center{
    width: 70%;
}
.banner-center a{
    display: block;
    color: #42ab35;
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin:0 auto;
    background: url(../images/write.png) left center no-repeat;
    text-indent: 37px;
}
.detail-header{
    background: #fff;
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 50px;
    float: left;
}
.detail-header h2{
    font-weight: normal;
    color: #666;
    font-size: 18px;
    width: auto;
    height: 35px;
    float: left;
}
.detail-header h2 a{
    display: block;
    width: 100%;
    color: #666;

}
.detail-header h2 a:hover{
    color: #666;
    text-decoration: none;
}
.ii{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    line-height:  35px;
    top: 15px;
    right: -10px;
    font-style: normal;
    z-index: 1;
}
.bu{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    background: #000;
    z-index: 1;
}
.menu{
    width: 50%;
    height: 100%;
    position: fixed;
    top:0px;
    right: -50%;
    background: #fff;
    z-index: 2;
}
.center-head{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #42ab35;
}
.menu-list{
    width: 100%;
    min-height: 100px;
    border-top:#eee 1px solid ;
    margin-top: 15px;
    float: left;
}
.menu-list li,.menu-list li a{
    font-size: 12px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 16px;
    text-align: left;
    color: #666;
    float: left;
}
.menu-list li{
    position: relative;
    border-bottom:#eee 1px solid ;
}
.go{
    font-style: normal;
    display: block;
    position: absolute;
    font-size: 16px;
    color: #ddd;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height:  30px;
    top: 0px;
    right: 5px;
}
.notice{
    font-style: normal;
    display: block;
    position: absolute;
    font-size: 12px;
    color: #fff;
    text-align: left;
    background:red ;
    width: 46px;
    height: 16px;
    line-height:  16px;
    border-radius: 10px;
    top: 8px;
    right: 45px;
}
.add-content{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom:-100%;
    left: 0px;
    background:rgba(0, 0, 0, 0.6)!important;
    filter:Alpha(opacity=60); background:#000;
    z-index: 3;
}
.text-content{
    position: relative;
    display: block;
    width:100%;
    height: 320px;
    background: #fff;
    float: left;
}
.text-content-header{
    text-indent: 8px;
    color: #42ab35;;
    background: #eee;
    font-size: 16px;
    position: absolute;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-bottom: #eee 1px solid;
    top: 0px;
    left: 0px;
}
.desc,.circel-desc{
    padding: 15px;
    border:none;
    position: absolute;
    display: block;
    width:100%;
    height: 200px;
    top: 50px;
    left: 0px;
    resize: none;
}
.circel-desc label{
    height: 60px;
}
.circel-desc label i{
    display: block;
    width: 100%;
    float: left;
    font-style: normal;
}
.pic-content{
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background: #fff;
    float: left;
    border-top:#eee 1px solid;
}
.face-pic{
    display: none;
    width: 100%;
    min-height: 70px;
    padding: 10px;
    background: #fff;
    float: left;
    border-top:#eee 1px solid;
}
.face-pic img{
    margin: 3px;
    cursor: pointer;
}
.upload-img{
    display: block;
    width: 30px;
    height: 30px;
    margin:15px 0px 0px 10px;
    float: left;
}
.pic-content a{
    color: #42ab35;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 15px;
    text-align: center;
    border:#42ab35 1px solid ;
    margin:15px 0px 0px 10px;
    float: left;
}
.add-content button{
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    border: none;
}

.submit{
    position: absolute;
    color: #fff;
    background: #42ab35;
    top: 15px;
    right: 15px;
}
.cancel{
    color: #fff;
    background: #666;
    line-height: 30px;
    margin: 10px 15px 0px 0px;
    float: right;
}

.circel-desc label{
    font-size: 12px;
    color: #666;
    display: block;
    width: 100%;
    float: left;
}
.circel-name{
    height:30px ;
    line-height: 30px;
}
.circel-name input{
    height: 30px;
    width: 100%;
    text-indent: 6px;
    border: #eee 1px solid;
}
.circel-d{
    height: 190px;
    float: left;
}
.circel-d textarea{
    width: 100%;
    height: 140px;
    border: #eee 1px solid;
    padding: 6px;
    margin-top: 5px;
    resize: none;
}
/*----*/
.profile{
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
}
.profile span{
    display: block;
    width: 100%;
    padding: 15px;
    float: left;
}
.top-pic{
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.top-pic img{
    display: block;
    top: 20px;
    left: 45%;
}
.profile-form label{
    font-size: 12px;
    display: block;
    width: 100%;
    height: 62px;
    line-height: 30px;
    float: left;
}
.profile-form label i{
    display: block;
    width: 100%;
    height: 30px;
    font-style: normal;
    float: left;
}
.profile-form label input.tt{
    border: #eee 1px solid;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-indent: 8px;
    float: left;
}
.saved{
    border: none;
    color: #fff;
    background: #42ab35;
    width: 200px;
}
/*----*/
.u-notice{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    clear: both;
}

.an-notice{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    float: left;
}
.an-notice{
    font-size: 14px;
    color: #666;
    display: block;
}
.notice-time{
    padding: 0px;
    margin: 0px;
    width:95%;
    height: 30px;
    line-height: 30px;
    margin-left:5% ;
    border-left:#999 1px solid ;
    text-indent: 8px;
    float: left;
}
.notice-content{
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height:80px ;
    background: #fff;
    padding: 6%;
    float: left;
}

.notice-from{
    font-weight: bold;
    width: 100%;
    min-height: 40px;
    line-height: 30px;
    padding: 5px 15px 5px 15px;
    border: #eee 1px solid;
    border-radius: 20px;
    float: left;
}
.notice-from a{
    color: #666;
}

.addshare{
    display: none;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0px;
    right: 10px;
    background: url(../images/addshare.png) left center no-repeat;
    z-index: 10;
}
.h1-top{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #666;
    background: #fff;
}
.joinTo{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 60px;
    height: 20px;
    background: url(../images/join.png) left center no-repeat;
    top: 15px;
    right: 30px;
}
.delete{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top:0px;
    left: 0px;
    background: #ff6347;
    cursor: pointer;
    color: #fff;
}

.delete:hover,.set-top:hover,.out:hover{
    color: #fff;
}
.set-top{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top:0px;
    right: 20px;
    background: #42ab35;
    cursor: pointer;
    z-index: 1;
    color: #fff;
}
.manager{
    top:0px;
    right:80px;
}
.out{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #ff6347;
    cursor: pointer;
    color: #fff;
    top:0px;
    right:20px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #42ab35;
    border-color: #428bca;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

